**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/dist
**/docker-compose*
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
docs
backend/TradeX.Tests
backend/.dockerignore
frontend/.dockerignore
